@tailwind base;
@tailwind components;
@tailwind utilities;

/*custom buttons*/
@layer components {
  .btn {
    @apply w-60 h-12 border-2 transition duration-300 hover:drop-shadow-2xl;
  }
  .btn-oj {
    @apply bg-orange text-white border-orange hover:bg-white hover:text-orange;
  }
  .btn-opaque {
    @apply text-white border-cream bg-opacity-0 hover:bg-white hover:text-orange hover:border-orange
  }
}

/*animation from reactjs-popup*/
@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}


/*the plain css way of importing font.*/

@font-face {
  font-family: "Fraunces";
  src: 
  url('../../public/Fonts/Fraunces/Fraunces-VariableFont.ttf') format("truetype");
}

@font-face{
  font-family: "Fraunces-i";
  src: url('../../public/Fonts/Fraunces/Fraunces-Italic-VariableFont.ttf') format("truetype");
}

@font-face {
  font-family: "Lexend";
  src: 
  url('../../public/Fonts/Lexend_Giga/LexendGiga-VariableFont.ttf') format("truetype");
}

@font-face {
  font-family: "Helvetica";
  src: 
  url('../../public/Fonts/Helvetica/Helvetica-Neue-Regular.otf') format("opentype");
}


h1 {
  font-family: "Fraunces", serif;
  font-size: calc(24px + 4vw);
  line-height: 100%;
}


h2 {
  font-family: "Fraunces", serif;
  font-size: calc(24px + 3vw);
  line-height: 105%;
}


h3 {
  font-family: "Lexend", sans-serif;
  font-size: calc(14px + 0.4vw);
  line-height: 120%;
}


h4 {
  font-family: "Lexend", sans-serif;
  font-size: calc(12px + 0.2vw);
  line-height: 120%;
}

p {
 font-family: "Helvetica";
  font-size: calc(12px + 0.3vw);
  line-height: 120%;
  color: #707070;

}

.fraunces-i {
  font-family: Fraunces-i;
}

.close {
  cursor: pointer;
  position: relative;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}